<main class="container auth-container">
    <div class="auth-card">
        <h2>Forgot Password?</h2>
        <p class="auth-subheading">Enter your registered email to receive an OTP.</p>
        
        <form id="registerForm">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" required>
            </div>
            
            <button type="submit" class="btn btn-primary btn-full-width" id="sendButton">Send OTP</button>
        </form>
    </div>
</main>